/target
DS_Store
*.DS_Store
.idea
.vscode
*.log
*.onnx
*.json
*.onnx_data
*.wav
*.txt
*.onnx.data.env
.env
*.data
**/*.onnx
**/*.onnx.data
**/*.onnx.bak
**/*.onnx_data
**.wav
onnxruntime/
ort-cpu/
ort-gpu/
node_modules
canary-qwen
canary
tdt
whisper/
*.bin
voxtral-fp16/
voxtral-q4/
voxtral-server/.venv/
.venv/
__pycache__/
**/__pycache__/
*.pyc